[submodule "docs/tutorials/bash-guide"]
	path = docs/tutorials/bash-guide
	url = https://github.com/Idnan/bash-guide.git

[submodule "docs/tutorials/learngit"]
	path = docs/tutorials/learngit
	url = https://github.com/envs-net/learngit.git
